
  
  .page-enter {
    opacity: 0;
    transition: transform scale(1.1), transform 5000ms;
   
  }
  
  .page-enter-active {
    opacity: 1;
    transform: scale(1.025);
    transition: opacity 500ms, transform 500ms;
  }
  
  
  .page-exit-active {
    opacity: 0;
    transform: scale(0.1);
  }
  