
.logo{
    height:20px;
    width:120
}

a{
    text-decoration:none !important;
    color:white !important;
    padding:10px !important;
}

a:hover{
    text-decoration:none !important;
    color:rgb(221, 216, 216) !important;
    padding:10px !important;
}